section {
  padding-bottom: 80px;
}

.section_2,
.section_3,
.section_6 {
  padding-left: 16px;
  padding-right: 16px;
}

.section_2,
.section_3,
.section_4,
.section_5,
.section_6 {
  background-color: #fff;
  position: relative;
  top: 72.5vh;
  z-index: 997;
}

.section_title h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
