@import url(reset.css);
@import url(common.css);

.main_page {
  max-width: 767px;
  position: relative;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  padding: 18px 0;
}

.section_1 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0) 0%,
      rgba(29, 29, 29, 0.5) 90%,
      rgba(29, 29, 29, 1) 100%
    ),
    url(../img/screen3.png) no-repeat center/cover;
  width: 100%;
  max-width: 767px;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.section_1 h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -1px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #fff;
  padding-top: 205px;
}
/* section_1 end */

.section_2 {
  width: 100%;
  height: 250px;
  padding-top: 45px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.search {
  width: 100%;
  padding: 0 10px 15px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.search a {
  display: flex;
  justify-content: space-between;
  color: #1d1d1d;
  width: 100%;
}

.search p {
  font-size: 14px;
  opacity: 0.5;
}

.icon {
  width: 18px;
  height: 18px;
  background: url(../img/search1.png) no-repeat center/cover;
}

/* section_2 end */

.con_wrap_3 {
  /* position: relative; */
}

.installation_wrap {
  /* position: absolute;
  top: 0;
  left: 0; */
  display: none;
}

.installation_wrap_active {
  display: block;
}

.tab_title_wrap_3 {
  display: flex;
  margin-bottom: 30px;
}

.tab_title_3.tab_title_3_active {
  background-color: #4db8bd;
  color: #fff;
}

.tab_title_3 {
  padding: 15px;
  background-color: #f1f1f1;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  cursor: pointer;
}

.tab_title_3:last-child {
  margin-right: 0;
}
.tab_title_3 svg path {
  fill: #1d1d1d;
  transition: fill 0.3s;
  opacity: 0.5;
}
.tab_title_3.tab_title_3_active svg path {
  fill: #fff;
  opacity: 1;
}

.tab_title_3 span {
  font-size: 14px;
  font-weight: 700;
  margin-left: 12px;
}

.con_3 {
  background-color: #1d1d1d;
  padding: 20px;
  width: 100%;
  height: 320px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.resort_1 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.5) 0%,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 0.8) 100%
    ),
    url(../img/resort_1.png) no-repeat center / cover;
}

.resort_2 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.5) 0%,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 0.8) 100%
    ),
    url(../img/resort_2.png) no-repeat center / cover;
}
.resort_3 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.5) 0%,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 0.8) 100%
    ),
    url(../img/resort_3.png) no-repeat center / cover;
}
.hotel_1 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.5) 0%,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 0.8) 100%
    ),
    url(../img/hotel_1.png) no-repeat center / cover;
}
.hotel_2 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.5) 0%,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 0.8) 100%
    ),
    url(../img/hotel_2.png) no-repeat center / cover;
}
.hotel_3 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.5) 0%,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 0.8) 100%
    ),
    url(../img/hotel_3.png) no-repeat center / cover;
}
.themepark_1 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.5) 0%,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 0.8) 100%
    ),
    url(../img/themepark_1.png) no-repeat center / cover;
}
.themepark_2 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.5) 0%,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 0.8) 100%
    ),
    url(../img/themepark_2.png) no-repeat center / cover;
}
.themepark_3 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0.5) 0%,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 0.8) 100%
    ),
    url(../img/themepark_3.png) no-repeat center / cover;
}

.top_3 {
  display: flex;
  justify-content: space-between;
}

.con_title_wrp_3 h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
  color: white;
}
.con_title_wrp_3 p {
  font-size: 12px;
  color: white;
}

.heart {
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: 0.3s ease;
}

.heart svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.heart path {
  fill: rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}
.heart.active path {
  fill: #ff3c00;
}

.bottom_3 {
  display: flex;
}
.exp_3 {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px 15px;
  border-radius: 30px;
  margin-right: 5px;
  font-size: 14px;
}

/* .exp_3 svg {
  margin-right: 8px;
} */

.exp_3:last-child {
  margin-right: 0;
}
.btn_3 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_3 a {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section_3 end */

.section_4 {
  padding: 60px 0 60px 0;
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
}

.title_4 {
  text-align: center;
}

.section_4 .section_title h2 {
  margin-bottom: 15px;
}

.section_title p {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 30px;
}

.swiper {
  width: 100%;
  /* height: 350px; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  /* width: 275px;
  height: 390px; */
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.swiper-slide::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(29, 29, 29, 0) 50%,
    rgba(29, 29, 29, 1) 100%
  );
  z-index: 2;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 390px;
  object-fit: cover; */
}

.txt_wrap_4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 3;
}

.txt_wrap_4 h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.txt_wrap_4 h4 {
  font: 14px;
  margin-bottom: 10px;
}
.txt_wrap_4 p {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.8;
}

/* .section_4 end */

.section_5 {
  width: 100%;
  padding-top: 80px;
}
.con_wrap_5 {
  width: 100%;
  height: 334px;
  background: url(../img/5_1.png) no-repeat center / cover;
  position: relative;
}

.con_wrap_5::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 29, 0.6);
  z-index: 1;
}

.txt_wrap_5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
}

.txt_wrap_5 h2 {
  font-size: 60px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin-bottom: 20px;
}

.txt_wrap_5 h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.txt_wrap_5 p {
  font-size: 12px;
  opacity: 0.8;
}
/* section_5 end */

.section_6 {
  padding-bottom: 120px;
  width: 100%;
}

.con_6 {
  padding: 18px 0;
  border-bottom: 1px solid rgb(241, 241, 241);
  display: flex;
  align-items: center;
}

.img_6 {
  width: 29.6%;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 15px;
}

.txt_wrap_6 h3 {
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 20px;
}
.txt_wrap_6 p {
  font-size: 12px;
  opacity: 0.5;
}

.btn_6 {
  width: 48.2%;
  height: 48px;
  background-color: #4db8bd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  margin-top: 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btn_6 a {
  color: white;
  font-weight: 700;
  font-size: 14px;
}

/* .section_6 end */

.bottom_nav {
  /* padding: 0 16px; */
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 767px;
  height: 70px;
  background-color: #4db8bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.con_nav {
  width: 20%;
}

.con_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.con_nav img {
  width: 20px;
}
.con_nav span {
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-top: 5px;
}

.reserve_btn {
  margin-bottom: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #4db8bd;
  box-shadow: 0px 0px 10px 2px rgba(29, 29, 29, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reserve_btn a {
  width: 100%;
  height: 100%;
}

.reserve_btn img {
  width: 24px;
}
/* .bottom_nav end */

.reserve_modal {
  padding: 20px 20px 0 20px;
  position: fixed;
  bottom: -480px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 767px;
  height: 480px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -2px 5px 2px rgba(29, 29, 29, 0.1);
  transition: 0.3s ease;
  z-index: 998;
}

.modal_close {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}
.reserve_search i {
  margin-right: 15px;
}
.reserve_info i {
  margin-right: 15px;
}

.reserve_date a,
.reserve_people a {
  display: flex;
  position: relative;
  color: #1d1d1d;
}
.reserve_filter {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 35px;
  gap: 5px;
}
.reserve_search,
.reserve_date,
.reserve_people,
.reserve_filter {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  padding: 15px 0;
}

.reserve_date h4 {
  font-weight: 700;
}
.reserve_date p {
  font-size: 14px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
}

.people_info {
  display: flex;
  gap: 15px;
}

.reserve_people span {
  font-weight: 700;
}
.reserve_search input {
  all: unset;
}

.filter_btn {
  font-size: 12px;
  border-radius: 27px;
  background-color: #f1f1f1;
  padding: 7px 9px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter_main {
  display: flex;
  align-items: center;
  background-color: #4db8bd;
  color: white;
}

.filter_main svg {
  margin-right: 5px;
}

.modal_btn {
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
  border-radius: 25px;
}
.filter_btn.active {
  background-color: #4db8bd;
  color: #fff;
}
.modal_btn a {
  width: 100%;
  display: block;
  text-align: center;
  line-height: 50px;
  color: #4db8bd;
  font-weight: 700;
}
