@import url(reset.css);
@import url(common.css);

.main_page {
  max-width: 767px;
  position: relative;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 18px 0;
}

.section_1 {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0) 0%,
      rgba(29, 29, 29, 0.5) 90%,
      rgba(29, 29, 29, 1) 100%
    ),
    url(../img/screen3.png) no-repeat center/cover;
  width: 100%;
  max-width: 767px;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.section_1 h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -1px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #fff;
  padding-top: 205px;
}
/* section_1 end */

.section_2 {
  width: 100%;
  height: 250px;
  padding-top: 45px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.search {
  width: 100%;
  padding: 0 10px 15px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.search a {
  display: flex;
  justify-content: space-between;
  color: #1d1d1d;
  width: 100%;
}

.search p {
  font-size: 14px;
  opacity: 0.5;
}

.icon {
  width: 18px;
  height: 18px;
  background: url(../img/search1.png) no-repeat center/cover;
}

/* section_2 end */

.bottom_nav {
  padding: 0 16px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 767px;
  height: 70px;
  background-color: #4db8bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.con_nav {
  width: 20%;
}

.con_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.con_nav img {
  width: 20px;
}
.con_nav span {
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-top: 5px;
}

.reserve_btn {
  margin-bottom: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #4db8bd;
  box-shadow: 0px 0px 10px 2px rgba(29, 29, 29, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reserve_btn a {
  width: 100%;
  height: 100%;
}

.reserve_btn img {
  width: 24px;
}
/* .bottom_nav end */

/* 모달 기본 숨김 */
.reserve_modal {
  position: fixed;
  bottom: -400px; /* 처음엔 화면 아래 */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 767px;
  height: 400px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
  transition: bottom 0.3s ease;
  z-index: 998;
}

/* 모달 내용 */
.modal_content {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* 닫기 버튼 */
.close_modal {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.section_3 {
  width: 100%;
  height: 100vh;
  background-color: lightgray;
}
.section_4 {
  width: 100%;
  height: 100vh;
  background-color: indigo;
}
