@import url(../../css/reset.css);

.section_login {
  background: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 0) 50%,
      rgba(29, 29, 29, 1) 100%
    ),
    url(../../img/screen3.png) no-repeat center/cover;
  position: relative;
  top: 0;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  max-width: 767px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 16px;
}

.txt_wrap {
  color: white;
}
.txt_wrap h1 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.txt_wrap p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -1px;
  margin-bottom: 40px;
}
.btn {
  width: 100%;
  height: 68px;
  border-radius: 34px;
  background-color: rgb(77, 184, 189);
  margin-bottom: 30px;
  text-align: center;
  line-height: 68px;
}
.btn a {
  width: 100%;
  display: block;
  color: white;
  font-weight: 700;
}

.move a {
  text-align: center;
  width: 100%;
  display: block;
  color: white;
  font-size: 14px;
  opacity: 0.6;
}
.bg_wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
